/* Reset default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #444;
    background-color: #f9f9f9;
    overflow-x: hidden;
    text-align: left; /* Adjusted text alignment */
}

/* Header styles */
header {
    background-color: #333; 
    padding: 20px 0; /* Adjusted padding for header */
    text-align: center;
    width: 100%;
    z-index: 9999;
}

header h1 {
    margin-bottom: 10px;
    font-size: 34px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px; /* Added margin between navigation items */
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from last navigation item */
}

nav ul li a {
    text-decoration: none;
    color: #FF7518;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff9861;
}

/* About Me section */
.about-content h2 {
    margin: 40px 0; /* Adjusted margin for heading */
    font-size: 28px; /* Decreased font size for heading */
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin: 20px 0; /* Adjusted margin for paragraphs */
}

/* Projects section */
.project h2 {
    margin-bottom: 20px; /* Adjusted margin for heading */
    font-size: 24px; /* Decreased font size for heading */
}

.project h3 {
    font-size: 20px;
    margin-bottom: 20px; /* Adjusted margin for subheadings */
    color: #333;
}

.project img {
    max-width: 100%; /* Ensured images are responsive */
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05);
}

.project p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

/* Contact section */
#contact {
    background-color: #fff; 
    color: #333; 
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#contact p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.25;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

